.App {
  text-align: center;
}
.container {
  width: 80%;
  margin: 10px auto;
}

.card {
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 8px 6px rgba(0, 0, 0, 0.02);
}

.chart_container {
  padding: 60px 70px 0px 0px;
}

.stat_container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.sensor_label {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: #818ea3;
}

.sensor_value {
  font-size: 2rem;
  font-weight: 500;
}

.recharts-cartesian-axis-tick {
  font-size: 0.8rem;
}

.danger {
  color: red;
}

@media all and (min-width: 900px) {
  .container {
    width: 60%;
  }
}

.loader {
  border: 6px solid #e3e3e3;
  border-radius: 50%;
  border-top: 6px solid #c6c6c6;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* animation */

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
